﻿@{
    ViewBag.Title = "Livraria";
}

<div class="jumbotron">
    <h1>Sistema de Gestão de Livraria</h1>
    <p class="lead">Bem vindo ao sistema de gestão de Livraria</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Livros</h2>
        <p>
           Clique aqui para acessar a tela de cadastro e gerenciamento de livros!
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Livros")">Acessar &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h2>Autores</h2>
        <p>
            Clique aqui para acessar a tela de cadastro e gerenciamento de autores!
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Autor")">Acessar &raquo;</a></p>
    </div>
</div>