﻿@model HBsis.Livraria.Domain.Entidades.Autor

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>
<div>
    <h4>Autor</h4>
    @if (!ViewBag.possuiDependencia)
    {
        <h3>Você tem certeza que deseja remover o registro?</h3>
    }
    else
    {
        <h3 class="text-danger">Não é possível excluir este autor pois ele possui livros cadastrados.</h3>
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (!ViewBag.possuiDependencia)
            {
                <input type="submit" value="Excluir" class="btn btn-default" />
            }
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
